body {
  padding-top: 50px
}
input[type='checkbox'] {
	box-shadow:none;
	height: auto;
	border-color: #ffffff;
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  margin: 0 5px 0 10px;
}
.checkbox-container{
	padding-top: 5px;
}
.form-inline{
	padding: 10px 0 10px 0	;
}